<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Order your taco creations!</h1>
    <img th:src="@{/images/home.png}"/>
    <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
        <a th:href="@{/design}" id="another">Design another taco</a><br/>

        <h3>Deliver my taco msterpieces to...</h3>
        <label for="deliveryName">Name: </label><br/>
        <input type="text" th:field="${tacoOrder.deliveryName}"/><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryName')}"
              th:errors="${tacoOrder.deliveryName}">Delivery Name Error</span><br/>

        <label for="deliveryStreet">Street address: </label><br/>
        <input type="text" th:field="${tacoOrder.deliveryStreet}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryStreet')}"
              th:errors="${tacoOrder.deliveryStreet}">Delivery Street Error</span><br/>

        <label for="deliveryCity">City: </label><br/>
        <input type="text" th:field="${tacoOrder.deliveryCity}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryCity')}"
              th:errors="${tacoOrder.deliveryCity}">Delivery City Error</span><br/>

        <label for="deliveryState">State: </label><br/>
        <input type="text" th:field="${tacoOrder.deliveryState}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryState')}"
              th:errors="${tacoOrder.deliveryState}">Delivery State Error</span><br/>

        <label for="deliveryZip">Zip code: </label><br/>
        <input type="text" th:field="${tacoOrder.deliveryZip}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryZip')}"
              th:errors="${tacoOrder.deliveryZip}">Delivery Zip Error</span><br/>

        <h3>Here's how I'll pay...</h3>
        <label for="ccNumber">Credit card #: </label><br/>
        <input type="text" th:field="${tacoOrder.ccNumber}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="${tacoOrder.ccNumber}">CC Number Error</span><br/>

        <label for="ccExpiration">Expiration: </label><br/>
        <input type="text" th:field="${tacoOrder.ccExpiration}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="${tacoOrder.ccExpiration}">CC Expiration Error</span><br/>

        <label for="ccCVV">CVV: </label><br/>
        <input type="text" th:field="${tacoOrder.ccCVV}"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccCVV')}"
              th:errors="${tacoOrder.ccCVV}">CC CVV Error</span><br/><br/>

        <input type="submit" value="Submit Order">
    </form>
</body>
</html>